<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>383910052908-dr11v75qje2122ng3crjbb612jn69633.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383910052908-dr11v75qje2122ng3crjbb612jn69633</string>
	<key>API_KEY</key>
	<string>AIzaSyCkCSQODw-KCkjesvstsiXWAUPcaKjneAI</string>
	<key>GCM_SENDER_ID</key>
	<string>383910052908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WEApps.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ffb08</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ffb08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383910052908:ios:7ae3f21647faebf0</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ffb08.firebaseio.com</string>
</dict>
</plist>